<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CardinalTalk</title>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>


    <!-- bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="./public/css/home.css">


</head>

<body class="navbar-inverse">
<!-- Nav Bar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="/catalog">Catalog <span class="sr-only">(current)</span></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <!-- Search Form -->
    <form method="GET" action="/search">
        <div class="form-group form-horizontal">
            <div class="col-xs-10">
                <input type="text" class="form-control" name="course_code" placeholder="Course Code"/>
            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-inverse">Search</button>
            </div>

        </div>
    </form>
    <br>

    <% if (courseInfos !== undefined) %>
    <div class="all_courses col-xs-12">
        <% courseInfos.forEach((course) => { %>
        <li class="list-group-item">
            <a href="#"><%= course.subject + course.catalog_number %>: <%=course.description%>
                <br>
                Section: <%= course.section %>
                <br>
                Instructors: <%= course.instructors %></a>
        </li>
        <% }); %>
    </div>

</div>

<!--<script src="./public/js/home.js"></script>-->

</body>
</html>
